.navbar {
    padding: 8px;
}

.navbar-content {
    max-width: 1280px;
    margin: auto;
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: 8px;
}

.nav-dropdown-item {
    color: gray !important;
}


.nav-dropdown-item:hover {
    background-color: pink;
    color: black !important;
}

.nav-dropdown-menu-user {
    margin-top: 9px;
    left: -150%;
}

.nav-user-img {
    width: 32px;
    margin-right: 5px;
}

.i-cart {
    color: gray;
    font-size: 28px;
    vertical-align: middle;
    margin-left: 18px;
}

.nav-link {
    cursor: pointer;
}

.nav-register {
    margin-left: 12px;
}