<div class="footer">
    <div class="footer-content">
        <img src="assets/images/logo.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
        <div class="icons">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-twitter'></i></a>
            <a href=""><i class='bx bxl-instagram-alt'></i></a>
            <a href=""><i class='bx bxl-youtube' ></i></a>
        </div>
    </div>

    <div class="footer-content">
        <h4>Pan comido</h4>
        <li><a href="#">Eventos especiales</a></li>
        <li><a href="#">Uber eats</a></li>
        <li><a href="#">Rappi</a></li>
        <li><a href="#">Didi food</a></li>
    </div>

    <div class="footer-content">
        <h4>Pan comido</h4>
        <li><a href="#">Eventos especiales</a></li>
        <li><a href="#">Uber eats</a></li>
        <li><a href="#">Rappi</a></li>
        <li><a href="#">Didi food</a></li>
    </div>

    <div class="footer-content">
        <h4>Pan comido</h4>
        <li><a href="#">Eventos Especiales</a></li>
        <li><a href="#">Uber Eats</a></li>
        <li><a href="#">Rappi</a></li>
        <li><a href="#">Didi Food</a></li>
    </div>

    <div class="footer-content">
        <h4>Ayuda</h4>
        <li><a href="#">Aviso de Privacidad</a></li>
        <li><a href="#">Terminos y Condiciones</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQs</a></li>
    </div>
</div>
