<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="intro-excerpt">
                    <h1>Pan caliente, <span clsas="d-block">felicidad al instante</span></h1>
                    <p class="mb-4">Ordena en linea y recoge en tu sucursal favorita.</p>
                    <p><a href="" class="btn btn-secondary me-2">Comprar</a><a href="#" class="btn">Explorar</a></p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero-img-wrap">
                    <img src="assets/images/pan.svg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Especiales del mes</h2>
                <p class="mb-4">Cada creación está hecha para añadir un toque especial a tus momentos cotidianos.</p>
                <p><a href="shop.html" class="btn">Explore</a></p>
            </div>
            <!-- End Column 1 -->

            @for (product of products; track product) {
        
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <!-- <div class="card h-100"> -->
                        <a class="product-item" href="cart.html">
                            <img [src]="getProductImage(product.product_id)" class="img-fluid product-thumbnail">
                            <h3 class="product-title">{{ product.product }}</h3>
                            <strong class="product-price">{{ product.price | currency: 'USD'}}</strong>
    
                            <!-- <span class="icon-cross">
                                <img src="assets/images/plus.svg" class="img-fluid">
                            </span> -->
                        </a>
                    <!-- </div> -->
                </div>
            }


            

        </div>
    </div>
</div>